{% extends 'base.html' %}

{% block title %}Create Tag{% endblock %}

{% block content %}
<h1>Create a tag</h1>

{% for msg in get_flashed_messages() %}
  <div class="alert alert-warning">
    {{ msg }}
  </div>
{% endfor %}

<form action="/tags/new" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Enter a name for the tag">
    {% for post in posts %}
      <input
        type="checkbox"
        name="posts"
        aria-label="{{ post.title }}"
        value="{{ post.title }}"
      >{{ post.title }}
    {% endfor %}
    <a href="/tags" class="btn btn-outline-primary btn-sm">Cancel</a>
    <button class="btn btn-success btn-sm" action="submit">Add</button>
</form>

{% endblock %}