{% extends 'base.html' %}

{% block title %}Post Details{% endblock %}

{% block content %}

<h1> {{ post.title }}</h1>

{% for msg in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{ msg }}
  </div>
{% endfor %}

<p>{{ post.content }}</p>

<p><i>By {{ post.user.full_name }} on {{ post.friendly_date }}</i></p>
<p>Tags:
  {% for tag in tags %}
    <p>{{ tag.name }}</p>
  {% endfor %}
</p>
<form>
  <button
    class="btn btn-outline-primary btn-sm"
    formaction="/posts/{{ post.id }}"
    formmethod="GET"
  >
    Cancel
  </button>
  <button
    class="btn btn-primary btn-sm"
    formaction="/posts/{{ post.id }}/edit"
    formmethod="GET"
  >
    Edit
  </button>
  <button
    class="btn btn-danger btn-sm"
    formaction="/posts/{{ post.id }}/delete"
    formmethod="POST"
  >
    Delete
  </button>
</form>

{% endblock %}