{% extends 'base.html' %}

{% block title %} Add User {% endblock %}

{% block content %}

<!-- Add user form (for testing)-->

<h1>Create a user</h1>

{% for msg in get_flashed_messages() %}
  <div class="alert alert-warning">
    {{ msg }}
  </div>
{% endfor %}

<form action="/users/new" method="POST">
  <p>First Name: <input name="first_name" placeholder="Enter a first name"></p>
  <p>Last Name: <input name="last_name" placeholder="Enter a last name"></p>
  <p>Image URL: <input name="img_url" placeholder="Provide an image of this user"></p>
  <a href="/users" class="btn btn-outline-primary btn-sm">Cancel</a>
  <button class="btn btn-success btn-sm" action="submit">Add</button>
</form>


{% endblock %}