{% extends 'base.html' %}

{% block title %}{{ user.full_name }} Details{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-2">
    <img class="img-fluid rounded" src="{{ user.img_url }}">
    <form class="m-2">
      <button
        class="btn btn-primary btn-sm"
        formaction="/users/{{ user.id }}/edit"
        formmethod="GET"
      >
        Edit
      </button>
      <button 
        class="btn btn-danger btn-sm"
        formaction="/users/{{ user.id }}/delete"
        formmethod="POST"
      >
        Delete
      </button>
    </form>
  </div>
  <div class="col-md-10">
    <h1> {{ user.full_name }}</h1>
    
    {% for msg in get_flashed_messages() %}
      <div class="alert alert-success alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ msg }}
      </div>
    {% endfor %}
    
    
    <h2>Posts</h2>
    <ul>
        {% for post in user.posts %}
        <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    
    <a href="/users/{{ user.id }}/posts/new" class="btn btn-primary btn-sm">Add post</a>
  </div>
</div>

{% endblock %}