{% extends 'base.html' %}

{% block title %} List {% endblock %}

{% block content %}

<h1>Users</h1>

{% for msg in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{ msg }}
  </div>
{% endfor %}

<ul>
  {% for user in users %}
  <li><a href="/users/{{ user.id }}">{{ user.full_name }}</a></li>
  {% endfor %}
</ul>

<a href="/users/new" class="btn btn-primary btn-sm">Add user</a>



{% endblock %}